/*
	Author: David Lemayian
	© 2012
*/

body{
	margin-bottom:20px;
}

@media (min-width: 1200px){

}

.home-blurbs{
	text-align:center;
}
	.home-blurbs .span3:hover{
		background:#ddd;
	}

.border-free-table td, th {
		border: 0 !important;    
}

footer{
	text-align:center;
}