---
layout: default
title: DEBT.COUNTER
---

<div style="background-color: #428bca; color: #fff; text-align: center; padding: 30px 10px 70px;">
	<div class="container">
		<h2>Our PUBLIC DEBT is getting out of hand and this is what it looks like!</h2>
		<h1>
			<span style="line-height: 50%; vertical-align: bottom; margin-right: 5px;" id="currency">Ksh. </span>
			<span id="debtamount">
			{% assign myArray = "0|,|0|0|0|,|0|0|0|,|0|0|0" | split: "|" %}
			{% for item in myArray %}
				{% if item == "," %}
					<span style="line-height: 50%; vertical-align: bottom; margin-left: -5px;">,</span>
				{% else %}
					<span class="label label-danger" style="margin-left: -5px;">{{ item }}</span>
				{% endif %}
			{% endfor %}
			</span>
		</h1>
	</div>
</div>

<div class="container" style=" max-width: 900px; margin: 60px auto 40px;">
	<div class="row">
		<div class="col-lg-4" style="text-align: center;">
			<p><img src="/assets/js/vendor/holder.js/200x200" alt="" class="img-thumbnail" style="border-radius: 999px;" /></p>
		</div>
		<div class="col-lg-8">
			<h2>TITLE</h2>
			<p class="lead">Lorem ipsum something other than other and else.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8" style="text-align: right;">
			<h2>TITLE</h2>
			<p class="lead">Lorem ipsum something other than other and else.</p>
		</div>
		<div class="col-lg-4" style="text-align: center;">
			<p><img src="/assets/js/vendor/holder.js/200x200" alt="" class="img-thumbnail" style="border-radius: 999px;" /></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4" style="text-align: center;">
			<p><img src="/assets/js/vendor/holder.js/200x200" alt="" class="img-thumbnail" style="border-radius: 999px;" /></p>
		</div>
		<div class="col-lg-8">
			<h2>TITLE</h2>
			<p class="lead">Lorem ipsum something other than other and else.</p>
		</div>
	</div>
	
	<hr />
	
	
</div>

<!-- SCRIPTS -->

<script type="text/javascript">
	window.onload=function(){
		var debtamount = 7052222760;
		var myDebtCounter=setInterval(function(){debtCounter()},10);
		
		function debtCounter()
		{
			debtamount += 1;
			var debtString = numberWithCommas(debtamount.toString());
			var debtHtml = "";
			for (var i = 0; i < debtString.length; i++) {
				if (debtString.charAt(i)==",") {
					debtHtml += '<span style="line-height: 50%; vertical-align: bottom; margin-left: -5px;">,</span>\n';
				} else {
					debtHtml += '<span class="label label-danger" style="margin-left: -5px;">' + debtString.charAt(i) + '</span>\n';
				}
			}
			$('#debtamount').html(debtHtml);
		}
		
		function numberWithCommas(x) {
		    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
	}
</script>

