<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="/assets/css/syntax.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
		<link rel="stylesheet" href="/assets/css/main.css">
		
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<!--[if IE 7]>
			<link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
		<![endif]-->
		
		<link rel="stylesheet" href="/assets/css/style.css">
		
		<script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	</head>
	<body>
	    <!--[if lt IE 7]>
	        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	    <![endif]-->
		
		<!-- Navbar -->
		
		<div class="container">
			
			<a href="/" class="navbar-brand" style="padding-left: 0;">
				<h1 class="pull-left" style="padding: 10px 15px; color: #fff; background-color: #428bca;">
					WHAT.<span style="font-weight: normal;">We</span>.OWE
				</h1>
			</a>
			<div class="pull-right">
				<!-- Desktop -->
				<ul class="nav navbar-nav visible-lg visible-md" style="padding-top: 40px;">
					<li><a href="/" class="lead">HOME</a></li>
					<li><a href="/about" class="lead">ABOUT</a></li>
					<li><a href="/blog" class="lead">BLOG</a></li>
					<li class="sep"></li>
					<li><a href="http://github.com/DavidLemayian/WhatWeOwe"  class="btn btn-primary fork">FORK ME ON GITHUB</a></li>
				</ul>
				
				<!-- Tablets and Phones -->
				<div class="visible-sm visible-xs " style="margin-top: 40px;">
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/blog">Blog</a></li>
							<li class="divider"></li>
							<li><a href="http://github.com/DavidLemayian/WhatWeOwe" target="_blank"><i class="icon-github"></i> GitHub</a></li>
						</ul>
					</div>
				</div>
				
			</div>
			
		</div>
		
		
	    <!-- Add your site or application content here -->
	    {{ content }}
	    
	    
	    <!-- Footer -->
	    
	    <footer class="container" style="padding-bottom: 30px;">
	    	<hr />
	    	<!-- Not Phone -->
	    	<div class="row hidden-xs">
	    		<div class="col-sm-4">
	    			<p class="text-muted" style="margin-bottom: 10px;">
	    				<a href="/">Home</a> . 
	    				<a href="/about">About</a> . 
	    				<a href="/blog">Blog</a> . 
	    				<a href="http://github.com/DavidLemayian/WhatWeOwe" target="_blank"><i class="icon-github"></i> Github</a>
	    			</p>
	    			<p class="text-muted" style="margin-bottom: 0; max-width: 300px; line-height: 100%;"><small>
	    				<b>DISCLAIMER:</b> Data being used on this platform is sourced from the <a href="http://treasury.go.ke" target="_blank">Kenya Treasury website</a>.
	    			</small></p>
	    		</div>
	    		<div class="col-sm-4" style="text-align: center;">
	    			<p class="lead text-muted" style="margin-bottom: 10px;"><b>WHAT.</b>We<b>.OWE</b></p>
	    			<p class="text-muted"><a href="http://davidlemayian.com" target="_blank">
	    				<span class="glyphicon glyphicon-check"></span> Proudly Kenyan</a>
	    			</p>
	    		</div>
	    		<div class="col-sm-4" style="text-align: right;">
	    			<p class="text-muted" style="margin-bottom: 0;">By <a href="http://davidlemayian.com" target="_blank">David Lemayian</a></p>
	    			<p class="text-muted" style="margin-bottom: 0;">An <a href="http://opensource.org" target="_blank">Open Source Project</a></p>
	    			<p class="text-muted" style="margin-bottom: 0;">Distributed Under <a href="http://github.com/DavidLemayian/DebtCounter/master/LICENSE" target="_blank">MIT License</a></p>
	    		</div>
	    	</div>
	    	
	    	<!-- Phone -->
	    	<div class="text-center visible-xs">
	    		<p class="lead text-muted" style="margin-bottom: 10px;"><b>WHAT.</b>We<b>.OWE</b></p>
	    		<p class="text-muted" style="margin-bottom: 10px;">
	    			<a href="/">Home</a> . 
	    			<a href="/about">About</a> . 
	    			<a href="/blog">Blog</a> . 
	    			<a href="http://github.com/DavidLemayian/WhatWeOwe" target="_blank"><i class="icon-github"></i> Github</a>
	    		</p>
	    		<p class="text-muted" style="margin-bottom: 30px;">
	    			An <a href="http://opensource.org" target="_blank">Open Source Project</a> by <a href="http://davidlemayian.com" target="_blank">David Lemayian</a> distributed under the <a href="http://github.com/DavidLemayian/DebtCounter/master/LICENSE" target="_blank">MIT License</a>.
	    		</p>
	    		<p class="text-muted"><a href="http://davidlemayian.com" target="_blank">
	    			<span class="glyphicon glyphicon-check"></span> Proudly Kenyan</a>
	    		</p>
	    		
	    	</div>
	    </footer>
	    
	    
	    <!-- SCRIPTS -->
		    
	    <script src="/assets/js/plugins.js"></script>
	    <script src="/assets/js/vendor/holder.js"></script>
	    <script src="/assets/js/bootstrap.min.js"></script>
	
	    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	    <script>
	        var _gaq=[['_setAccount','UA-30369719-5'],['_trackPageview']];
	        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	        g.src='//www.google-analytics.com/ga.js';
	        s.parentNode.insertBefore(g,s)}(document,'script'));
	    </script>
	</body>
</html>
